/*#codeContainer{
	margin-top: 50px;
}
.codiGeneratC{
	font-size:8px;
}
.botoCode{
z-index:2;
	-moz-box-shadow:inset 0px 1px 0px 0px #000000;
	-webkit-box-shadow:inset 0px 1px 0px 0px #000000;
	box-shadow:inset 0px 1px 0px 0px #000000;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #889e86), color-stop(1, #006600) );
	background:-moz-linear-gradient( center top, #889e86 5%, #006600 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#889e86', endColorstr='#006600');
	background-color:#889e86;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #000000;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:200px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 9px #006353;
}
.botoCode:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006600), color-stop(1, #889e86) );
	background:-moz-linear-gradient( center top, #006600 5%, #889e86 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006600', endColorstr='#889e86');
	background-color:#006600;
}.botoCode:active {
	position:relative;
	top:1px;
}*/
#principal{
	background-color:#F7F9FE;
	width:100%;
	/*display:inline-block;*/
}
#menuEsq{
	background-color: #BED2D9;
	border-right:2px solid #BED2D9;
	height: 100%;
	float:left;
	width:30%;
	display:inline;
}
#menuCentral{
	background-color:#F7F9FE;
	width:50%;
	height:100%;	
	display:inline;
	position:absolute;
}
#menuDreta{
	background-color:#BED2D9;
	float:right;
	width:20%;
	height:100%;
	display:inline;
}
#containerValors{
	width:100%;
	height:40%;
	background-color:#F7F9FE;
}
#containerValors table{
	width:100%;
	height:100%;
	background-color:#F7F9FE;
	border:solid 1px black;
}
#containerCodi{
	width:100%;
	height:45%;
	background-color:#FFF;
}
#containerBoto{
	width:100%;
	height:15%;
	background-color:#F7F9FE;
}
#opcionsMenu{
	width:100%;
	height:40%;
	background-color:#F7F9FE; 
}
#cosMenu{
	width:100%;
	height:60%;
	background-color:#DCE8EB;
}
#opcionsMenu div{
	width:100%;
	height:16%;
	border-bottom: 1px solid #BED2D9;
	padding-top:5%;
	/*margin-top:2px;*/
	background-color:#DCE8EB;
	
}
#opcionsMenu div:hover{
	background-color: #d5d5d5;
}

#containerApps{
	/*display:none;*/
}
#containerEdificis table{
	width:100%;
	height:100%;
}
#containerEdificis table tr td{
 border: 1px solid #BED2D9;
}
#containerEdificis{
	display:none;
}
#botoPrincipal{
	width:100%;
	height:100%;
}


/*******************MENU ESQUERRA************************/
#opcionsMenu table{
	width:100%;
	height: 100%;
}

#opcionsMenu table tr{
	width:100%;
	height: 16%;
	border-bottom: 1px solid #BED2D9;
	background-color:#DCE8EB;
	color:#6692a0;
}
#opcionsMenu table tr:hover{
	
	background-color:#ECF1F2;

}

#opcionsMenu table tr td{
	cursor:pointer;
	text-align: center;
	padding: auto;
	font-weight: bold;
	vertical-align: middle;
}
/*******************MENU APPS****************************/
#cosMenu div table tr td{
	cursor:pointer;
		text-align: center;
	padding: auto;
	font-weight: bold;
	vertical-align: middle;
	color:#6692a0;
}
#cosMenu div table{
	width:100%;
	height:100%;
}
#cosMenu div table tr td{
 border: 1px solid #BED2D9;
}
/*******************FI MENU ESQUERRA*********************/


/*******************MENU DRETA****************************/

#mailbox{
	background-color:#DCE8EB; 
	width: 100%;
	height:5%;
	text-align: center;
	padding: auto;
	font-weight: bold;
	vertical-align: middle;
	color:#6692a0;

}


#containerCodi pre{
	background-color: white;

}

#taulaMails table {
	width:100%;
}

#taulaMails table tr td {
	width:100%;
	border:solid black 1px;
}
.cosMissatge {
	
}

#contadorLinies{
	height:100%;
	width:100%;
	background-color: #d664c7;
}
#contadorLinies div{
	width: 33%;
	display: inline;
	height: 100%;
}
#liniesLogo span{
	width:15% !important;
	color:white;
	font-size: 80px;
	margin-bottom: 20px;
}


#contadorDiners{
	height:100%;
	width:100%;
	background-color: #6B1D1D;
}
#contadorDiners div{
	width: 33%;
	display: inline;
	height: 100%;
	color: #99FF33;
}
#dinersLogo span{
	width:15% !important;
	color:white;
	font-size: 80px;
	margin-bottom: 20px;
}

.hidden {
	display:none;
}