/*#codeContainer{
	margin-top: 50px;
}
.codiGeneratC{
	font-size:8px;
}
.botoCode{
z-index:2;
	-moz-box-shadow:inset 0px 1px 0px 0px #000000;
	-webkit-box-shadow:inset 0px 1px 0px 0px #000000;
	box-shadow:inset 0px 1px 0px 0px #000000;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #889e86), color-stop(1, #006600) );
	background:-moz-linear-gradient( center top, #889e86 5%, #006600 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#889e86', endColorstr='#006600');
	background-color:#889e86;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #000000;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:200px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 9px #006353;
}
.botoCode:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006600), color-stop(1, #889e86) );
	background:-moz-linear-gradient( center top, #006600 5%, #889e86 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006600', endColorstr='#889e86');
	background-color:#006600;
}.botoCode:active {
	position:relative;
	top:1px;
}*/
#principal{
	background-color:white;
	width:100%;
	/*display:inline-block;*/
}
#menuEsq{
	background-color: red;
	height: 100%;
	float:left;
	width:30%;
	display:inline;
}
#menuCentral{
	background-color:blue;
	width:50%;
	height:100%;	
	display:inline;
	position:absolute;
}
#menuDreta{
	background-color:green;
	float:right;
	width:20%;
	height:100%;
	display:inline;
}
#containerValors{
	width:100%;
	height:40%;
	background-color:blue;
}
#containerCodi{
	width:100%;
	height:45%;
	background-color:yellow;
}
#containerBoto{
	width:100%;
	height:15%;
	background-color:yellow;
}
#opcionsMenu{
	width:100%;
	height:40%;
	background-color:red; 
}
#cosMenu{
	width:100%;
	height:60%;
	background-color:lightcoral;
}
#opcionsMenu div{
	width:100%;
	height:16%;
	border-bottom: 1px solid grey;
	/*margin-top:2px;*/
	background-color:#ccc;
}
#opcionsMenu div:hover{
	background-color: #d5d5d5;
}
#containerApps table{
	width:100%;
	height:100%;
}
#containerApps table tr td{
 border: 1px solid black;
}
#containerApps{
	/*display:none;*/
}
#containerEdificis table{
	width:100%;
	height:100%;
}
#containerEdificis table tr td{
 border: 1px solid black;
}
#containerEdificis{
	display:none;
}
